.wrapper {
  text-align: center;
}

input {
  display: table;
  margin-bottom: 1em;
  width: auto;
  font-size: 16px;
  border: 2px solid grey;
  color: black;
  background-color: grey;
  border-radius: 5px;
  padding: 3px;
}

#file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
}

.slideContainer {
  width: 50%;
  margin-top: 4em;
  
   }

   .slider::after {
    content: '100';
    color: black;
    font-size: 1.5rem;
    position: absolute;
    left: 27.5%;
    margin-top:-1.75em
  }

  .slider::before{
   content: '0';
   color: black;
   font-size: 1.5rem;
   position: absolute;
   left: 10%;
   top:48%
 }

   .slider {
     -webkit-appearance: none;
      width: 50%;
      height: 15px;
      border-radius: 5px;
      background: #0078D4;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
      border-radius: 12px;
      box-shadow: 0px 0px 10px 1px black;
   }

   .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #fff;
      cursor: pointer;
   }

   .buttons {
    width:15%;
    color: #fff;
    background: #0078D4;
    padding: 5px;
    margin-bottom: 5px;
    border: 2px solid #0078D4;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    
  }