<head>
 
  <link rel="stylesheet" type="text/css" href="../static/upload.css">
  <title>Image Resizer</title>
</head>
<body>
  {%extends 'base.html'%}
  {%block content%}
     
<div class="container">
<p><h1>Upload Page</h1>
<h5>Use this page to upload and resize images as well as upload </h5>
</p>
<br/>
       
    <form>
      <div class ="buttons">
        <label for="file">Upload</label>
      </div>
      <h6>.png, .jpg or .docx only allowed</h6>
        <input type="file" id="file" accept="image/png, image/jpeg, application/msword" onchange="loadImage(event)">
      
        <button class = "buttons" id="down">Download</button>
        <br/><br/>
      
      <div class ="dimensions">
        <label>Width</label>
        <input type="number" id="imWidth"     placeholder="0 px">

        <label>Height</label>
        <input type="number" id="imHeight" placeholder="0 px">
      </div> <!---end of dimensions-->
    </form>
    
  </div>
  <card>
    <div class="slideContainer">
        <input type="range" min="1" max="100" value="100" class="slider" id="myRange">
        <p> <span id="demo"></span></p>
        <br/>
    </div>

    <div class="wrapper">
        <canvas id="result">
        <img src="" id="imgDisplayed" alt="">
        </canvas>
      </div>
  </card>
       
</div> <!-- End of Container -->
   


  <script src="/static/main.js"></script>
  
  
</body>
{%endblock%}
</html>