<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="../static/upload.css">
  <title>Image Resizer</title>
</head>
<body>
  {%extends 'base.html'%}
  {%block content%}
     
<div class="container">
      
    
    <form>
      <div class ="buttons">
        <label for="file">Upload an Image</label>
      </div>
        <input type="file" id="file" accept="image/*" onchange="loadImage(event)">
      
        <button class = "buttons" id="down">Download</button>
        <br/>
      
      <div class ="dimensions">
        <label>Width</label>
        <input type="number" id="imWidth"     placeholder="0 px">

        <label>Height</label>
        <input type="number" id="imHeight" placeholder="0 px">
      </div> <!---end of dimensions-->
    </form>
    
  </div>
  <card>
    <div class="slideContainer">
        <input type="range" min="1" max="100" value="100" class="slider" id="myRange">
        <p> <span id="demo"></span></p>
        <br/>
    </div>

    <div class="wrapper">
        <canvas id="result">
        <img src="" id="imgDisplayed" alt="">
        </canvas>
      </div>
  </card>
       
</div> <!-- End of Container -->
   


  <script src="/static/main.js"></script>
  
  
</body>
{%endblock%}
</html>